@media (max-width: 767px) {
  .app-view {
    top: 8%;
    left: 5%;
    width: 90%;
    height: 62vh;
  }

  .window-header {
    cursor: default;
  }

  .window-resizer {
    display: none;
  }

  .budget-grid {
    grid-template-columns: 1fr;
  }

  .bottom-area {
    width: 94%;
    bottom: 18px;
  }
}